
.main-nav {
  margin:20px auto;
  background-color: transparent !important;
  padding:0 5%;
}
.nav-action-container {
  padding:0 5%;
}
.contact-grid {
  display: grid;
  margin: 20px auto;
  width: 90%;
  height: 80vh;
  max-height: 80vh;
  overflow: auto;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.nav-action-container>li>button {
  margin-right: 9px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}
.pull-right {
  float: right;
}
.cover {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 10;
  text-decoration: none !important;
}

.my-float {
  /* margin-top: 22px; */
  text-decoration: none !important;
}

.floating-plus-button {
  border: none;
  color: white;
  /* padding: 15px 30px; */
  text-align: center;
  text-decoration: none !important;
  font-size: 40px;
  border-radius: 100%;
  /* float: right;  */
  /* position: absolute;
  bottom:0; 
  right:0; */
}

/* .foating-plus-button a:hover {
  text-decoration: none !important;
}

.my-float a:hover {
  text-decoration: none !important;
} */
